
#add-word-button {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

button .material-icons {
  cursor: pointer;
}

#word-card button {
  margin-left: 1em;
  margin-right: 1em;
}

.mdl-card {
  margin: 1em;
  width: 95%;
}

#word-card .mdl-card__actions {
  text-align: right;
}

.mic-on {
  color: darkgreen;
}

#listener-heard-words {
  color: gray;
}

#theword {
  font-weight: bold;
  font-size: 3em;
}

#success {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 101;
  font-size: 5em;
}